<div id="movies">
  <% if (streams && streams.length > 0) { %>
    <div class="row">
      <% for (var i=0; i < streams.length; i++) { %>
        <div class="col-sm-4">
      		<div class="panel panel-success">
      		  <div class="panel-heading ">
      			  <h3 class="panel-title"><%= streams[i].data.title %></h3>
      			</div>
      			<div class="panel-body">
        			<div class="media movie">
                <a class="pull-left" target="_blank" href="<%= baseURL %>/stream?file=<%= encodeURIComponent(streams[i].torrent) %>">
                <img class="media-object" src="<%= streams[i].data.cover %>" alt="<%= streams[i].data.title %>">
                </a>

          			<div class="media-body">
                  <p><a class="btn btn-sm btn-warning" target="_blank" href="<%= baseURL %>/stream?file=<%= encodeURIComponent(streams[i].torrent) %>"><span class="glyphicon glyphicon-play"></span> PLAY MOVIE</a></p>
                  <p><a class="btn btn-xs btn-danger" href="/kill?pid=<%= streams[i].pid %>"><span class="glyphicon glyphicon-remove"></span> DELETE</a></p>
            			<div class="well well-sm">
            			Seeds: <%= streams[i].data.seeds %>
                  <br/>
            			Peers: <%= streams[i].data.peers %>
            			</div>
        			  </div>
              </div>
        		</div>
      		</div>
        </div>
        <% if (i % 3 === 2) { %>
          </div><div class="row">
        <% } %>
      <% } %>
    </div>
  <% } else { %>
    <p class="lead">No active torrents.</p>
  <% } %>
</div>
