<div class="control-group">
  <label for="username" class="control-label">username</label>
  <div class="controls">
    <%- contentTag('input', user.username, {type:'text', class:'span6', name:'username'}) %>
  </div>
</div>
<div class="control-group">
  <label for="password" class="control-label">password</label>
  <div class="controls">
    <%- contentTag('input', '', {type:'password', class:'span6', name:'password'}) %>
  </div>
</div>
<div class="control-group">
  <label for="confirmPpassword" class="control-label">confirm password</label>
  <div class="controls">
    <%- contentTag('input', '', {type:'password', class:'span6', name:'confirmPassword'}) %>
  </div>
</div>
<div class="control-group">
  <label for="givenName" class="control-label">givenName</label>
  <div class="controls">
    <%- contentTag('input', user.givenName, {type:'text', class:'span6', name:'givenName'}) %>
  </div>
</div>
<div class="control-group">
  <label for="familyName" class="control-label">familyName</label>
  <div class="controls">
    <%- contentTag('input', user.familyName, {type:'text', class:'span6', name:'familyName'}) %>
  </div>
</div>
<div class="control-group">
  <label for="email" class="control-label">email</label>
  <div class="controls">
    <%- contentTag('input', user.email, {type:'text', class:'span6', name:'email'}) %>
  </div>
</div>
